:root {
    /* Primary color */
    --clr-soft-red:  hsl(7, 99%, 70%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-Dark-desaturated: hsl(167, 40%, 24%); /**graphic design text  */
    --clr-dark-blue : hsl(198, 62%, 26%); /**(photography text)*/
    --clr-Dark-moderate: hsl(168, 34%, 41%); /**(footer)*/

    /* Neutral color */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --clr-White: hsl(0, 0%, 100%);

    --ff-100: 'Barlow', sans-serif;
    --ff-200: 'Fraunces', serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.125rem;
    font-family: var(--ff-100);
}