:root {
    /* Primary color */
    --clr-soft-red:  hsl(7, 99%, 70%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-Dark-desaturated: hsl(167, 40%, 24%); /**graphic design text  */
    --clr-dark-blue : hsl(198, 62%, 26%); /**(photography text)*/
    --clr-Dark-moderate: hsl(168, 34%, 41%); /**(footer)*/

    /* Neutral color */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --clr-White: hsl(0, 0%, 100%);

    --ff-100: 'Barlow', sans-serif;
    --ff-200: 'Fraunces', serif;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.125rem;
    font-family: var(--ff-100);
    background-color: var(--clr-White);
}

/* header section */
header {
    background-image: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
}
/*
*navbar section
navbar nav,
navbar-logo img,
navabar-humburger img,
navbar-list ul,
navbar-item li
navbar-link a
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.3rem;
    overflow: hidden;
}
.navabar-humburger {
    position: relative;
    cursor: pointer;
}


.navbar-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 1rem;
    top: 5em;
    list-style: none;
    background-color: var(--clr-White);
    padding: 1rem 6.5rem;
    text-align: center;
    z-index: 2;
    transform: translateX(-300%);
    visibility: hidden;
}
.navbar-item { 
    font-size: 1.25rem;
    border: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.navbar-item:hover {
    color: var(--Very-dark-desaturated-blue);
    background-color: var(--clr-yellow);
    border-radius: 100vw;
    font-family: var(--ff-200);
    
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    padding: 1rem 1.5rem;
}

.navbar-link:hover {
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1.1rem 1rem;

}

/* hero section
main-heading */

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   text-align: center;
   margin-top: 4em;
}

.main-heading {
    color: var(--clr-White);
    font-family: var(--ff-200);
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-size: 2.7rem;
    font-weight: 900;
}

/* *main section */

/* *section first-row
.first-row section
.content div
.subheading h1
.text p
.image-1 div
.btn-learn a */

.first-row {
    display: flex;
    flex-direction: column-reverse;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    margin-top: 3.5em;
    padding-inline: 2em;
}

.sub-heading {
    font-family: var(--ff-200);
    font-weight: 900;
    font-size: 2.3rem;
    color: var(--Very-dark-desaturated-blue);
}

.text {
    color: var(--Very-dark-grayish-blue);
    opacity: 0.7;
    font-size: 1.3rem;
    line-height: 1.5;
    width: 32ch;
}

.image-1 {
    background-image: url('./images/mobile/image-transform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.second-row {
    display: flex;
    flex-direction: column-reverse;
}

.image-2 {
    background-image: url('./images/mobile/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.btn-wrap {
    margin-bottom: 4em;
    position: relative;
}

.btn-learn {
    text-decoration: none;
    font-family: var(--ff-200);
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
}

/* TODO: making the hover work on the line */
.bottom-line {
    position: absolute;
    cursor: pointer;
    top: 1.025rem;
    z-index: -1;
    left: -0.4rem;
    right: 0;
    border: 0;
    border-radius: .5rem;
    background-color: var(--clr-yellow);
    height: .6rem;
    width: 9.5rem;
    opacity: 0.4;
}

/* .btn-learn .bottom-line:hover{
    opacity: 1;
    color: red;
} */

.bottom-line2 {
    position: absolute;
    cursor: pointer;
    top: 1.025rem;
    z-index: -1;
    left: -0.4rem;
    right: 0;
    border: 0;
    border-radius: .5rem;
    background-color: var(--clr-soft-red);
    height: .6rem;
    width: 9.5rem;
    opacity: 0.4;
}


/* *section third-row 
*classes
.third-row section
.col-1 div
.col-2 div
.sub-heading2
.text2
*/

.third-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col-1 {
    background-image: url('./images/mobile/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: flex-end;
    align-items: center;
    padding: .8rem;
}
.col-2 {
    background-image: url('./images/mobile/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
   
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: flex-end;
    align-items: center;
    padding: .8rem;
}
.sub-heading2 {
    font-family: var(--ff-200);
    font-size: 2rem;
    font-weight: 900;
    color: var(--clr-Dark-desaturated);
    text-transform: capitalize;
}

.text2 {
    line-height: 1.5;
    color: var(--clr-Dark-desaturated);
    min-width: 32ch;
    margin-bottom: 3rem
}

.col-2 .sub-heading2 {
    color: var( --clr-dark-blue);
}

.col-2 .text2 {
    color: var(--clr-dark-blue);
}

/* *testimonials section
.testimonials section
.testimonial-heading h1
.testimonial-list div
.testimonial div
.testimonial-img img
.testimonial-comment p
.testimonial-name p
.testimonial-job p
*/

.testimonials {
    margin-block: 4em;
    text-align: center;
}

.testimonial-heading {
    font-family: var(--ff-200);
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--Grayish-blue);
    margin-bottom: 2rem;
}

.testimonial-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.testimonial-img {
    width: 84px;
    border-radius: 100vw;
    margin-bottom: 1em;
}

.testimonial-comment {
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.250rem;    
    line-height: 2;
    min-width: 32ch;
}

.testimonial-name {
    font-family: var(--ff-200);
    font-size: 1.3rem;
    font-weight: 900;
}

.testimonial-job {
    color: var(--Grayish-blue);
    margin-top: -0.5rem;
}